<div>
<h1>Stupid Coaching again!</h1>
</div>


<form action="/answer" method="get">
  <label for="question">Ask anything to your coach</label>
  <input type="text" name="question" placeholder="what time is it?">
  <input type="submit" value="Ask Now">
</form>
